- var play_polygon_height = 20 
- var play_polygon_width = 18
- var pause_polygon_distance = 5

- var play_polygon_points = "0 h, 0 -h, w 0, w 0".replace(/h/g, play_polygon_height/2).replace(/w/g, play_polygon_width)

- var pause_polygon_points_left = "0 h, 0 -h, w -h, w h".replace(/h/g, play_polygon_height/2).replace(/w/g, (play_polygon_width - pause_polygon_distance)/2)

- var pause_polygon_points_right = "w h, w -h, v -h, v h".replace(/h/g, play_polygon_height/2).replace(/v/g, (play_polygon_width + pause_polygon_distance)/2).replace(/w/g, play_polygon_width)


- var current_time_polygon = "0 0, 0 20, 20 20, 20 0"


mixin video(id, src)
    .video-container
        div(id=id).video-wrapper
            video
                source(src=src, type='video/mp4')
            svg
                g.bottom-controls
                    g.play--group
                        rect.play--rect
                        g.paly--icon--group
                            polygon(points=pause_polygon_points_left)
                                animate.animate-to-play(begin="indefinite" fill="freeze" attributeName="points" dur="250ms" to=play_polygon_points)
                                animate.animate-to-pause-left(begin="indefinite" fill="freeze" attributeName="points" dur="250ms" to=pause_polygon_points_left)
                            polygon(points=pause_polygon_points_right)
                                animate.animate-to-play(begin="indefinite" fill="freeze" attributeName="points" dur="250ms" to=play_polygon_points)
                                animate.animate-to-pause-right(begin="indefinite" fill="freeze" attributeName="points" dur="250ms" to=pause_polygon_points_right)


                    g.progress--group
                        rect.progress--panel
                        rect.progress--line
                        g.current--time--group
                            rect.current--time--rect
                            //- polygon(points=current_time_polygon)
                            text.current--time--text(text-anchor="middle", alignment-baseline="central")
                        
                        g.preview--time--group(style="transform: translateX(80px);")
                            rect.current--time--rect
                            //- polygon(points=current_time_polygon)
                            text.preview--time--text(text-anchor="middle", alignment-baseline="central")
                    
                    g.time--group
                        rect.time--rect
                        text.text--time(text-anchor="middle", alignment-baseline="central")
                    
                    g.fullscreen--group
                        rect.fullscreen--rect
            
            
